window {
   background-image: url("/usr/share/images/bunsen/wallpapers/default/default");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-color: black;
}
